.directory-card {
    width: 180px;
    height: 160px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;

    .delete-container {
        display: flex;
        flex-direction: row;
        margin-bottom: -20px;

        .delete-icon {
            justify-content: end;
            width: 20px;
            height: 20px;
            margin: 3px;
        }
    }
}