.header-frame {
    background-color: slategrey;
    color: white;
    height: 50px;
    text-align: center;
    justify-content: center;

    h3 {
        margin-top: 0;
    }

    @media screen and (max-width: 800px) {
        align-items: center;
      }
}


