.list-body {
    height: 60px;
    width:70%;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;

    .list-title {
        font-weight: bolder;
    }
    .list-text {
        font-size: large;
        color: grey;
        display: flex;
        justify-content: center;
        margin-left: 3%;
    }
    .delete {
        font-size: x-large;
        color: darkred;       
        margin-top: -10px;
        margin-right: 3px;
    }
}
