.App {
  text-align: center;
  min-height: 89.2vh;
  padding-bottom:90px;
  background-color: silver;

  .positionInBottom {
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color:rgb(105, 103, 116);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: silver;
}


